<!--Footer Navigation Section-->

<nav class="navbar fixed-bottom" style="background-color: #8b9a9f; color: #0f3057; position: inherit; display: flex; bottom: 0px;left: 0px;right: 0px;margin-bottom: 0px;">
    <div class="container-fluid">
      <h6 class="display-6 navbar-text" s">&copy; Copyright 2020 All rights reserved</h6>
    </div>
  </nav> 

  <!-- style="background-color: #8b9a9f; color: #0f3057; position: inherit; display: flex; bottom: 0;" -->